body {
    background-color: #f2f2f2;
}

.whatsapp-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px; /* Adjust padding as needed */
  border-radius: 5px;
  background-color: #25D366; /* WhatsApp green */
  color: #fff; /* White text */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  cursor: pointer;
  position: relative; /* For hover effect */
  overflow: hidden; /* Needed for smooth transition */
}

.whatsapp-button img {
  margin-right: 10px; /* Adjust spacing as needed */
  width: 24px;
  height: 24px;
}

.whatsapp-button span {
  line-height: 1; /* Ensure text aligns vertically */
}

.whatsapp-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #4CAF50 0%, #25D366 100%); /* WhatsApp green gradient */
  transform: translateX(-100%); /* Move gradient off-screen initially */
  transition: transform 0.3s ease-out; /* Smooth animation */
}

.whatsapp-button:hover::after {
  transform: translateX(0); /* Animate gradient on hover */
}

.conteiner-center .navbar {
    background-color: #333;
}

.navbar-brand img {
    height: 50px;
}

.nav-item a {
    color: #fff;
}


.mi-clase {
    margin-left: 40px;
    margin-right: 40px;
}

.mi-clase {
    margin-top: 10px;
    margin-bottom: 20px;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes bounce {
    30% {
        top: 10px;
    }

    80% {
        top: 20px;
    }

    100% {
        top: 0;
    }
}

.animated {
    animation-duration: 4ms;
    animation-iteration-count: infinite;
}

.btn-primary-center {
    background-color: #007bff;
}

.dropdown-menu {
    background-color: #f2f2f2;
}

.dropdown-item {
    color: #333;
}
body {
    background-color: #f7f7f7;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .img-fluid {
    max-width: 300px;
  }
  
  @media (max-width: 768px) {
    .col-md-6 {
      margin-bottom: 20px;
    }
  }
  
